* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Noto Sans, Arial, sans-serif;
}

.container {
	display: grid;
	grid-template-rows: 50px 1fr;

	height: 100vh;
}

.main {
	background-color: #dae0e6;
	overflow: scroll;
	display: grid;
	grid-template-columns: minmax(400px, 1000px);
	justify-content: center;
}

.main-content {
	display: grid;
	grid-template:
		"trending trending" 200px
		"posts side-bar" 1fr /
		1fr 300px;

	grid-gap: 20px;
	padding: 20px;
}

.trending {
	grid-area: trending;
}

.posts {
	grid-area: posts;
}

.side-bar {
	grid-area: side-bar;
}

.header {
	display: grid;
	grid-template-columns: 120px 1fr 340px;
	grid-gap: 10px;
	align-items: center;
}

.header-left img {
	height: 50px;
	margin-left: 10px;
}

.search-bar input {
	width: 100%;
	height: 40px;
	padding: 10px;
	outline: none;
	border: none;
	border-radius: 5px;
	background-color: #f6f7f8;
	font-size: 14px;
	font-weight: 400;
}

.header-right {
	display: grid;
	grid-template-columns: 130px 130px 40px 25px;
	grid-gap: 5px;
	align-items: center;
}

.header-right button,
.view-all button {
	font-weight: bold;
}

.header-right .login {
	background-color: white;
	padding: 5px 25px;
	border: 1px solid #0279d2;
	border-radius: 30px;
	color: #0279d2;
}

.header-right .signup {
	background-color: #0279d2;
	padding: 5px 30px;
	border-radius: 30px;
	color: white;
}

.trending {
	display: grid;
	grid-gap: 10px;
	padding: 10px;
	grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
	grid-auto-rows: 180px;
	overflow: hidden;
}
.trending-item {
	display: grid;
	place-items: center;
}

.trending-item img {
	overflow: hidden;
	height: 100%;
	width: 100%;
	border-radius: 10px;
}

.top-communities .title {
	height: 75px;
	background: linear-gradient(white, black);
	display: grid;
	align-items: end;
	justify-content: center;
	color: white;
}

.top-communities .communities-item {
	padding: 10px;
	display: grid;
	grid-template-columns: 20px 50px 50px 180px;
	border-top: solid 1px black;
}

.community-arrow img {
	height: 20px;
}

.community-image img {
	height: 30px;
	border-radius: 50%;
}
.view-all {
	display: grid;
	justify-items: center;
}

.view-all button {
	width: 90%;
	background-color: #0279d2;
	border-radius: 30px;
	color: white;
	padding: 10px 0;
	font-size: medium;
}

.categories {
	padding: 10px;
}

.categories button {
	background-color: #dae0e6;
	padding: 10px;
	color: #0279d2;
	border-radius: 25px;
	border: none;
}

.top-communities,
.subscribe,
.community-categories {
	margin-bottom: 30px;
	background-color: white;
}

.subscribe {
	padding: 10px;
	background-color: white;
	display: grid;
	grid-template:
		"subscirbe-image subscribe-title" 30px
		"subscribe-image subscribe-text" 30px
		"subscribe-button subscribe-button" 60px /
		70px 200px;
}
.subscribe-image {
	grid-area: subscribe-image;
	padding-top: 10px;
}

.subscribe-title {
	grid-area: subscribe-title;
	font-weight: bold;
}
.subscribe-text {
	grid-area: subscribe-text;
	font-size: smaller;
}

.subscribe-button {
	grid-area: subscribe-button;
	width: 100%;
	display: grid;
	place-items: center;
}

.subscribe img {
	height: 50px;
}

.subscribe-button button {
	background-color: #ff4600;
	padding: 10px;
	color: white;
	border-radius: 25px;
	border: none;
	width: 100%;
}

.community-categories .category {
	font-weight: bold;
	font-size: smaller;
	display: grid;
	grid-template-columns: 1fr 20px;
	padding: 10px;
}
.community-categories {
	padding: 10px;
}

.footer {
	padding: 10px;
	background-color: white;
	font-weight: lighter;
	font-size: smaller;
	display: grid;
	grid-template:
		"footer-help footer-about" 1fr
		"footer-copyrights footer-copyrights" 30px/
		150px 150px;
	grid-gap: 5px;
	position: sticky;
	top: 15px;
}

.footer-help {
	grid-area: footer-help;
}
.footer-about {
	grid-area: footer-about;
}
.footer-copyrights {
	grid-area: footer-copyrights;
}

.posts .post {
	padding: 20px;
	display: grid;
	grid-template-columns: 30px 1fr;
	background-color: white;
	border-radius: 10px;
}

img.user-image {
	height: 20px;
	border-radius: 50%;
}
.post-content-user span {
	font-size: x-small;
}
img.post-image {
	width: min-content;
}
.posts {
	display: grid;
	grid-gap: 25px;
}
